body {
    background-color: #fff;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator {
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;
    height: 600px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 42px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: grey;
    border: 1px solid black;
    font-size: 32px;
    color: white;
    font-weight: 500;
    width: 25%;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

.all-clear,
.zero-btn {
    width: 50%;
}

.operator,
.equal-sign {
    background-color: orange;
}

button :hover {
    background-color: darkgray;
}

.operator :hover,
.equal-sign :hover {
    background-color: darkorange;
}